<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h1>Thanks for your message, {{name}}</h1>

    <p>Your message: {{message}}</p>

    <p>Messages sent: {{messagesSent}}</p>
    
    {{#include src/templates/component.html}}
        <p>Couldn't load component</p>
    {{/include}}
     
    <script src="/app.js"></script>
</body>
</html>