<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h3>Send us a message!</h3>
    <form action="#" method="post">
        <input name="name" type="text" required placeholder="Your name">
        <textarea name="content" placeholder="Your message"></textarea>
        <button type="submit">Send</button>
    </form>
    <script src="/app.js"></script>
</body>
</html>