<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h1>New post</h1>

    <form action="#" method="post">
        <input type="text" name="title" placeholder="Post name">
        <textarea type="text" name="content" placeholder="Content"></textarea>
        <button type="submit">Post</button>
    </form>

    <script src="/app.js"></script>
</body>
</html>